*.iml
*.ipr
*.iws
.checkstyle
.classpath
.fslckout
.idea
.project
.settings
bin
out
pom.xml.versionsBackup
target
.run
*~
*.vo
*.glob
*.vok
*.vos
.*.aux
com.io7m.northpike.documentation/src/main/coq/html
