*.glob
*.iml
*.ipr
*.iws
*.vo
*.vok
*.vos
*~
.*.aux
.checkstyle
.classpath
.fslckout
.idea
.lia.cache
.project
.run
.settings
bin
com.io7m.northpike.documentation/src/main/coq/html
out
pom.xml.versionsBackup
target
com.io7m.northpike.tests/src/main/java/com/io7m/northpike/tests/examples/*
.jqwik-database
dependency-reduced-pom.xml
